<p-toast></p-toast>
<div class="page-title">Детали черновика</div>
<div class="mb-3">
  <span class="green-link" [routerLink]="['/drafts']">← К списку черновиков</span>
</div>
<div class="grid">
  <div class="col-8">
    <div class="order-detail-container">
      <div>
        <p-tag severity="info" value="Черновик" [rounded]="true"></p-tag>
      </div>
      <p-button (click)="downloadDraftDetails()" class="print-button" label="Печать" size="small" icon="pi pi-print"
                [loading]="downloadLoader"
                severity="secondary"></p-button>
      <p>{{draft?.response.draft_details.data.counterpartyName | counterpartyFullname}}</p>
      <p><span *ngIf="draft?.response.draft_details.data.cashPayment; else withoutCash">Наличный расчет</span>
        <ng-template #withoutCash>
          <span>безналичный расчет</span>
        </ng-template>
      </p>
      <div class="grid">
        <div class="col-4">Статус оплаты: <b>не оплачен</b></div>
        <div class="col-4">Дата готовности: <b>{{draft?.response?.draft_details?.data?.readyDate}}</b></div>
        <div class="col-4">Склад: <b>{{draft?.response.draft_details?.data?.shipmentWarehouseName}}</b></div>
      </div>
      <div class="grid">
        <div class="col-4">Доставка: <b>{{draft?.response?.draft_details?.data?.deliveryDate}}</b></div>
        <div class="col-4"></div>
      </div>
    </div>

  </div>
  <div class="col-4 pl-3">
    <div class="manager-card">
      <div class="manager-card-header">
        Ответственный от клиента
      </div>
<!--      <app-sokrof-responsible-avatar-and-name></app-sokrof-responsible-avatar-and-name>-->
      <ng-container *ngIf="draft?.response.draft_details?.data">
        <app-employee-card [personName]="draft?.response.draft_details?.data['ОтветственныйОтКлиента']"></app-employee-card>
      </ng-container>
      <div class="manager-card-header">
        Ответственный Sokrof
      </div>
<!--      <app-manager-avatar-and-name></app-manager-avatar-and-name>-->
      <ng-container *ngIf="draft?.response.draft_details?.data">
        <app-employee-card [personName]="draft?.response.draft_details?.data['ОтветственныйSokrof']"></app-employee-card>
      </ng-container>
      <div class="green-link" (click)="sendMessageToManager()">Написать менеджеру</div>
    </div>
  </div>
</div>
<div class="page-title page-title-h2 mt-4">Коммерческие предложения</div>
<div class="mt-3">
  <p-table [value]="draft?.response.commercial_offers.data"
           [scrollable]="true"
           scrollHeight="400px"
           [tableStyle]="{'min-width': '50rem'}"
           [styleClass]="'p-datatable-sm'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Клиент</th>
        <th>Наценка</th>
        <th>Сумма КП</th>
        <th>Действия</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-offer let-rowIndex="rowIndex">
      <tr>
        <td>{{rowIndex + 1}}</td>
        <td><span [innerHTML]="offer.client"></span></td>
        <td>{{offer.extra_charge}}</td>
        <td>{{offer.cp_amount | currencyRu}}</td>
        <td>
          <p-button size="small" icon="{{ commercial_offers_ids[offer.commercial_offer_id] ? 'pi pi-print pi-spin pi-spinner':'pi pi-print'}}" class="bt_print_offer_{{rowIndex}} mr-2" severity="secondary"
                     [disabled]="commercial_offers_ids[offer.commercial_offer_id]" (click)="printOffer(offer.commercial_offer_id)"></p-button>
          <p-button size="small" icon="pi pi-ellipsis-h" severity="secondary" (click)="op.toggle($event)"></p-button>
          <p-overlayPanel #op>
            <p class="link-style" (click)="changeOffer(offer.commercial_offer_id)">Изменить</p>
            <p class="link-style" (click)="deleteOffer(offer.commercial_offer_id)">Удалить</p>
          </p-overlayPanel>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-container *ngIf="draft?.response.commercial_offers.data?.length < 1">
    <p class="text-center">Нет коммерческих предложений</p>
    <p-divider></p-divider>
  </ng-container>
</div>
<div class="page-title page-title-h2">Товары в заказе</div>
<div class="mt-3">
  <div class="flex justify-content-between flex-wrap">
    <div class="flex align-items-center justify-content-center">
      <p-button size="small" class="mr-2" severity="info" label="Изменить" (click)="changeDraft()"
                [disabled]="draft?.response.draft_details.data.reserves?.length < 1"></p-button>
      <p-button size="small" icon="{{ blockSubmitButton1 ? 'pi pi-spin pi-spinner':'pi pi-spin'}}" [disabled]="blockSubmitButton1" class="mr-2" severity="secondary" label="Отправить менеджеру"
                (click)="sendDraftToManager()"></p-button>
      <p-button size="small" class="mr-2" severity="success" label="Создать КП" (click)="createOffer()"
                [disabled]="draft?.response.draft_details.data.reserves?.length < 1"></p-button>
    </div>
    <div class="flex align-items-center justify-content-center">
      <p-button class="mr-2"
                *ngIf="draft?.response.draft_details.data?.nonStandardElements?.length > 0"
                label="Заявка на нестандартную доборку"
                [text]="true"
                (click)="onShowNonStandardProductEditor()"
                iconPos="left"
                severity="primary"
      ></p-button>
      <p-button size="small" icon="pi pi-ellipsis-h" severity="secondary" (click)="draftMenu.toggle($event)"></p-button>
      <p-overlayPanel #draftMenu>
        <!--        <p class="link-style" (click)="copyOrder()" *ngIf="draft?.response.draft_details.data.reserves?.length > 0">Копировать заказ</p>-->
        <p class="link-style" (click)="deleteOrder()">Удалить заказ</p>
      </p-overlayPanel>
    </div>
  </div>
</div>
<div class="mt-3">
  <div class="flex justify-content-between flex-wrap">
    <div class="flex align-items-center justify-content-center">
      <span>
      Ориентировочный вес продукции: <b>{{draft?.response.draft_details.data.weight | number}} кг</b>
      </span>
    </div>
    <div class="flex align-items-center justify-content-center">
      Стоимость заказа: <b>{{draft?.response.draft_details.data.documentAmount | currencyRu}}</b>
    </div>
  </div>
</div>
<div class="mt-3">
  <p-table [value]="draft?.response.draft_details.data.reserves"
           [scrollable]="true"
           scrollHeight="400px"
           [tableStyle]="{'min-width': '50rem'}"
           [styleClass]="'p-datatable-sm'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Номенклатура</th>
        <th>Длина, м</th>
        <th>Ед. изм.</th>
        <th>Кол-во</th>
        <th>Итого</th>
        <th>Наличие</th>
        <th>Резерв</th>
        <th>Цена, ₽</th>
        <th>Сумма, ₽</th>
        <th *ngIf="showBonus()">Бонус, %</th>
        <th *ngIf="showSales()">Скидка, %</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-reserveItem let-rowIndex="rowIndex">
      <tr>
        <td>{{rowIndex + 1}}</td>
        <!--Номенклатура-->
        <td>{{reserveItem.nomenclatureName}}</td>
        <!--Длина, м-->
        <td>{{reserveItem.characteristic}}</td>
        <!--Ед. изм.-->
        <td>{{reserveItem.unitOfMeasurementName}}</td>
        <!--Кол-во-->
        <td>{{reserveItem.quantity | number:'1.0-0' }}</td>
        <!--Итого-->
        <td>{{reserveItem.total >= 0 ? (reserveItem.total| number:'1.1-3') : '-'}}</td>
        <!--Наличие-->
        <td>{{reserveItem.availability}}</td>
        <!--Резерв-->
        <td>{{reserveItem.reserve >= 0 ? (reserveItem.reserve| number:'1.1-3') : '-'}}</td>
        <!--Цена, ₽-->
        <td>{{reserveItem.price >= 0 ? (reserveItem.price| number:'1.1-2') : '-'}}</td>
        <!--Сумма, ₽-->
        <td>{{reserveItem.amount | number:'1.1-2' }}</td>
        <!--Бонус, %-->
        <td *ngIf="showBonus()">{{reserveItem.bonusPercentage| number:'1.1-2' }}</td>
        <!--Скидка, %-->
        <td *ngIf="showSales()">{{reserveItem.discountMarkupPercentage| number:'1.1-2' }}</td>
      </tr>
    </ng-template>
  </p-table>
  <div *ngIf="draft?.response.draft_details.data?.comment"
       class="order-detail-container mt-2"
       [innerHTML]="draft?.response.draft_details.data?.comment"
  ></div>
</div>
