.read-all-span {
  color: rgb(0, 128, 128);
  cursor: pointer;
  display: inline;
  font-family: Montserrat, sans-serif;
  font-feature-settings: "kern";
  font-kerning: normal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-rendering: optimizelegibility;
  text-transform: none;
  white-space-collapse: collapse;
}


