.red-background {
  background-color: #ffcccc;
}

.shipment-detail-container {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 7px;
  position: relative;
  padding: 15px;
}


