<div class="sidebar">
  <div class="logo">
    <img src="/assets/img/logo.svg" alt="Логотип компании" [routerLink]="['/']" style="cursor: pointer;">
  </div>
  <div class="profile">
    <div class="flex flex-row flex-wrap">
      <ng-container *ngIf="appService.sessionConfig?.photo !== '' && !!appService.sessionConfig?.photo; else noPhoto">
        <div class="flex align-items-center justify-content-center font-bold mr-2 border-round">
          <p-avatar
            size="xlarge" shape="circle"
            [image]="appService.sessionConfig?.photo"
            [style]="{ 'background-color': '#737373 !important', color: '#ffffff !important' }"
          >
          </p-avatar>
        </div>
      </ng-container>
      <ng-template #noPhoto>
        <div class="flex align-items-center justify-content-center font-bold mr-2 border-round">
          <p-avatar
            size="xlarge" shape="circle"
            [label]="(appService.sessionConfig?.fio | fio: 'имя')[0] + (appService.sessionConfig?.fio | fio: 'фамилия')[0]"
          >
          </p-avatar>
        </div>
      </ng-template>
      <div class="flex align-items-center justify-content-center font-bold border-round cursor-pointer" [routerLink]="['/profile']">
        <span style="color: black">{{appService.sessionConfig?.fio | fio: 'имя'}} <br> {{appService.sessionConfig?.fio | fio: 'фамилия'}}</span>
      </div>
    </div>
    <p class="green-link" [routerLink]="['/profile']">Профиль и сотрудники</p>
  </div>
  <div class="card flex justify-content-center">
    <p-menu [model]="items">
      <ng-template pTemplate="item" let-item>
        <a class="p-menuitem-link flex justify-content-between align-items-center" [routerLink]="[item.routerLink]">
          <div>
            <span [class]="item.icon"></span>
            <span> {{ item.label }}</span>
          </div>
          <div>
            <ng-container *ngIf="item.label === 'Управление заказами' && !!orderQuantity">
              <span class="ml-2">
                <p-badge [value]="orderQuantity?.toString()" [severity]="item.badgeSeverity"></p-badge>
              </span>
            </ng-container>
            <ng-container *ngIf="item.label === 'Все отгрузки' && !!shipmentQuantity">
              <p-badge [value]="shipmentQuantity?.toString()" [severity]="item.badgeSeverity"></p-badge>
            </ng-container>
          </div>
        </a>
      </ng-template>
    </p-menu>
  </div>
</div>
