.report-container {
  position: relative;
}
.cart-block {
  position: absolute;
  top: 0;
  right: 200px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  min-width: 200px;
  cursor: pointer;
}

.cart-title {
  font-weight: bold;
  text-align: center;
}
